<div>
  <h1>Find your icon</h1>
  <div>
    <form action="/icon" method="post">
    	<input type="text" name="iconName">
    	<button type="submit">Find</button>
    </form>

    {{#if error}}
      <p>{{error}}</p>
    {{/if}}

    {{#if image}}
    	<img width="100px" src={{image}}>
    	<p>{{attri}}</p>
    {{/if}}
  </div>
</div>